/* Define the default theme (Cobra Classic) in :root */
:root {
    --text-color: white;
    --background: linear-gradient(to right, #03031e, #08082e, #03031e);
    --nav-span-color: #0165FC;
    --normal-border-color: white;
  }
  
  /* Midnight Eclipse Theme Override */
  .midnight-eclipse {
    --background: linear-gradient(to right, #44475a, #282a36);
    --nav-span-color: #bd93f9;
    --normal-border-color: #44475a;
  }